<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="assets/css/stylefunction.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Book Management</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${name}">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${name}"></h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/employee/">
                <i class="bi bi-person"></i>
                <span>Employee</span>
            </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/author/">
                <i class="ri-user-star-fill"></i>
                <span>Author</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/book-category/">
                <i class="ri-book-read-fill"></i>
                <span>Book category</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->
<main id="main" class="main" layout:fragment="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Edit book</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard" >
        <div class="card-body">
            <form th:action="@{/book/edit-book}" th:object="${book}" method="POST" onsubmit="return validateForm()">
                <div th:if="${editBookSuccess}" class="alert alert-success">
                    <p style="text-align:center;" th:text="${editBookSuccess}"></p>
                </div>
                <div th:if="${editBookError}" class="alert alert-danger">
                    <p style="text-align:center;" th:text="${editBookError}"></p>
                </div>

                <input hidden th:field="*{id}" />
                <input hidden th:field="*{createBy}" />
                <input hidden th:field="*{isDelete}" />
                <input hidden th:field="*{createDate}" />
                <input hidden th:field="*{updateBy}" />
                <input hidden th:field="*{updateDate}" />


                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text"  id="title" required  oninvalid="this.setCustomValidity('Your title is required')" name="title" onchange="this.setCustomValidity('')"  th:field="*{title}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="price" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number"  step="0.01" min="1" required  oninvalid="this.setCustomValidity('Your price is required')" onchange="this.setCustomValidity('')" id="price" name="price"  th:field="*{price}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="number" min="1" id="quantity" required  oninvalid="this.setCustomValidity('Your quantity is required')" onchange="this.setCustomValidity('')" name="quantity"  th:field="*{quantity}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="publishYear" class="col-sm-2 col-form-label">Publish year</label>
                    <div class="col-sm-10">
                        <input type="number"  id="publishYear" name="publishYear" th:field="*{publishYear}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('publishYear')}" th:errors="*{publishYear}"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="createBy" class="col-sm-2 col-form-label">Create by</label>
                    <div class="col-sm-10">
                        <input type="text"  id="createBy" name="createBy" disabled th:field="*{createBy}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('createBy')}" th:errors="*{createBy}"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="createDate" class="col-sm-2 col-form-label">Create date</label>
                    <div class="col-sm-10">
                        <input type="text"  id="createDate" name="createDate" disabled th:field="*{createDate}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('createDate')}" th:errors="*{createDate}"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="updateBy" class="col-sm-2 col-form-label">Update by</label>
                    <div class="col-sm-10">
                        <input type="text"  id="updateBy" name="updateBy" disabled th:field="*{updateBy}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('updateBy')}" th:errors="*{updateBy}"></span>

                    </div>
                </div>

                <div class="row mb-3">
                    <label for="updateDate" class="col-sm-2 col-form-label">Update date</label>
                    <div class="col-sm-10">
                        <input type="text"  id="updateDate" name="updateDate" disabled th:field="*{updateDate}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('updateDate')}" th:errors="*{updateDate}"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="image" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input type="text"  id="image" name="image"  th:field="*{image}" class="form-control">
                        <span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>

                    </div>
                </div>
                <div class="row mb-12">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label for="category" class="col-sm-3 col-form-label">Book category</label>
                            <div class="col-sm-7" style="padding-left: 10%;" id="category">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Select category
                                    </button>
                                    <ul class="dropdown-menu" style="max-height: 200px; overflow-y:scroll;" aria-labelledby="categoryDropdown">
                                        <li th:each="list : ${bookCategoryList}">
                                            <input  th:field="*{bookCategories}" name="bookCategories" th:value="${list.id}"  type="checkbox" class="form-check-input">
                                            <label class="form-check-label" th:text="${list.title}">One</label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">

                            <label for="author" class="col-sm-2 col-form-label">Book author</label>

                            <div class="col-sm-10" id="author">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="authorDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Select author
                                    </button>
                                    <ul class="dropdown-menu" style="max-height: 200px; overflow-y:scroll;" aria-labelledby="authorDropdown">
                                        <li th:each="author : ${authorList}">
                                            <input th:value="${author.id}"  th:field="*{authors}" name="authors"  type="checkbox" class="form-check-input">
                                            <label class="form-check-label" th:text="${author.name}">One</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <script>
                    // Lấy các phần tử cần sử dụng
                    const dropdownButton = document.getElementById('categoryDropdown');
                    const checkboxes = document.querySelectorAll('#category input[type="checkbox"]');
                    const label = document.getElementById('selectedValues');

                    // Lắng nghe sự kiện khi các checkbox được chọn/deselect
                    checkboxes.forEach((checkbox) => {
                        checkbox.addEventListener('change', () => {
                            updateDropdownButtonText();
                        });
                    });

                    // Xử lý sự kiện click trên giá trị checkbox hoặc checkbox
                    const checkboxLabels = document.querySelectorAll('#category .dropdown-menu label.form-check-label');
                    checkboxLabels.forEach((label) => {
                        label.addEventListener('click', (event) => {
                            event.stopPropagation(); // Ngăn chặn sự kiện click lan ra các phần tử cha
                            const checkbox = label.previousElementSibling;
                            checkbox.checked = !checkbox.checked;
                            updateDropdownButtonText();
                        });
                    });

                    // Cập nhật giá trị vào nút "Open this select menu"
                    function updateDropdownButtonText() {
                        const selectedOptions = [];

                        checkboxes.forEach((checkbox) => {
                            if (checkbox.checked) {
                                selectedOptions.push(checkbox.nextElementSibling.textContent);
                            }
                        });

                        if (selectedOptions.length === 0) {
                            dropdownButton.textContent = 'Select category';
                        } else {
                            dropdownButton.textContent = selectedOptions.length + ' selected';
                        }
                    }
                </script>


                <script>
                    // Lấy các phần tử cần sử dụng
                    const authorDropdownButton = document.getElementById('authorDropdown');
                    const authorCheckboxes = document.querySelectorAll('#author input[type="checkbox"]');

                    // Lắng nghe sự kiện khi các checkbox được chọn/deselect
                    authorCheckboxes.forEach((checkbox) => {
                        checkbox.addEventListener('change', () => {
                            updateAuthorDropdownButtonText();
                        });
                    });

                    // Xử lý sự kiện click trên giá trị checkbox hoặc checkbox
                    const authorCheckboxLabels = document.querySelectorAll('#author .dropdown-menu label.form-check-label');
                    authorCheckboxLabels.forEach((label) => {
                        label.addEventListener('click', (event) => {
                            event.stopPropagation(); // Ngăn chặn sự kiện click lan ra các phần tử cha
                            const checkbox = label.previousElementSibling;
                            checkbox.checked = !checkbox.checked;
                            updateAuthorDropdownButtonText();
                        });
                    });

                    // Cập nhật giá trị vào nút "Open this select menu"
                    function updateAuthorDropdownButtonText() {
                        const selectedAuthors = [];

                        authorCheckboxes.forEach((checkbox) => {
                            if (checkbox.checked) {
                                selectedAuthors.push(checkbox.nextElementSibling.textContent);
                            }
                        });

                        if (selectedAuthors.length === 0) {
                            authorDropdownButton.textContent = 'Select author';
                        } else  {
                            authorDropdownButton.textContent = selectedAuthors.length + ' selected';
                        }
                    }
                </script>
                <div class="row mb-3">
                    <label  class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div >

                            <div class="btn-group"  role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger"><a href="/book/" style="color:white;">Back</a> </button>

                            </div>

                            <div class="btn-group"  role="group" aria-label="Basic outlined example">
                                <button class="btn btn-primary w-100" onclick="return confirm('Continue?')" type="submit">Submit</button>

                            </div>

                        </div>
                     </div>

                </div>

            </form>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

        </div>
        <script>
            function validateForm() {

                    var selectedCategories = document.querySelectorAll('input[type="checkbox"][name="bookCategories"]:checked');
                    var selectedAuthors = document.querySelectorAll('input[type="checkbox"][name="authors"]:checked');

                    if (selectedCategories.length < 1||selectedAuthors.length < 1) {
                        alert('Please select at-least 1 category and author');
                        return false;
                    }
                    return true;
                }


                function valideNumber() {
                    var charCode = (event.which) ? event.which : event.keyCode;
                    if (charCode >= 48 && charCode <= 57) {
                        return true;
                    } else {
                        return false;
                    }
                }
        </script>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">


</footer><!-- End Footer -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="/assets/js/function.js"></script>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>